body {
background-color: black;
    
}

.pages {
  width: 600px;
  color: #ff0000;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: 60px
}

.conflict {
  width: 600px;
  color: #f90606;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: 30px
}

.crowd {
  width: 600px;
  color: #f20d0d;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
}

.screen {
  width: 600px;
  color: #ec1313;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -30px
}

.weve {
  width: 600px;
  color: #e61919;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -60px
}

.thought {
  width: 600px;
  color: #df2020;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -92px
}

.Been {
  width: 600px;
  color: #d92626;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -123px
}

.Vision {
  width: 600px;
  color: #d22d2d;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -155px
}

.mind {
  width: 600px;
  color: #cc3333;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -186px
}

.never {
  width: 600px;
  color: #c63939;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -218px
}

.lay {
  width: 600px;
  color: #bf4040;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -250px
}

.another {
  width: 600px;
  color: #b94646;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -282px
}

.but {
  width: 600px;
  color: #b34d4d;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -313px
}

.hear {
  width: 600px;
  color: #b34d4d;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -355px
}

.died {
  width: 600px;
  color: #ac5353;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -386px
}
.history {
  width: 600px;
  color: #a65959;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -418px

}

.young {
  width: 600px;
  color: #9f6060;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -451px

}

.strong {
  width: 600px;
  color: #996666;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -483px

}

.taught {
  width: 600px;
  color: #936c6c;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -515px

}

.bearing {
  width: 600px;
  color: #8c7373;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -547px
}

.wide {
  width: 600px;
  color: #867979;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -580px
}

.think {
  width: 600px;
  color: #808080;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  margin-left: 80px;
  top: -610px
}

