body {
background-color: black;
    
}

.pages {
  width: 415px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 50px;
  top: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  top: 30px;
}

.crowd {
  width: 230px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 235px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.screen {
  width: 760px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 50px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.thought {
  width: 140px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 50px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.Been {
  width: 565px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 50px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.Vision {
  width: 710px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 50px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.never {
  width: 230px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 530px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.lay {
  width: 470px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 290px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.another {
  width: 695px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 65px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.hear {
  width: 810px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 65px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.history {
  width: 125px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 750px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;

}

.young {
  width: 170px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 707px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;

}

.strong {
  width: 170px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 707px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;

}

.taught {
  width: 235px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 642px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;

}

.bearing {
  width: 640px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 237px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

.think {
  width: 130px;
  color: #00ff80;
  font-family:Helvetica;
  font-size: 20px;
  position: relative;
  left: 237px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  top: 30px;
}

