body {
	background-color: black;
}
.pages {
	width: 500px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 50px;
	top: 50px;
	padding: 50px;
}
.crowd {
	width: 500px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 190px;
	padding: 50px;
}
.screen {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 50px;
	padding: 50px;
}
.thought {
	width: 400px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 450px;
	padding: 50px;
}
.Been {
	width: 600px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 50px;
	padding: 50px;
}
.Vision {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 50px;
	padding: 50px;
}
.never {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 220px;
	padding: 50px;
}
.lay {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 50px;
	padding: 50px;
}
.another {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 50px;
	padding: 50px;
}
.hear {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 50px;
	padding: 50px;
}
.history {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 600px;
	padding: 50px;
}
.young {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 50px;
	padding: 50px;
}
.strong {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 600px;
	padding: 50px;
}
.taught {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 300px;
	padding: 50px;
}
.bearing {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 50px;
	padding: 50px;
}
.think {
	width: 700px;
	color: white;
	font-family: helvetica;
	position: relative;
	left: 300px;
	padding: 50px;
}